@media (max-width: 1050px) {
  header {
    padding: 0.4rem 5rem;
  }

  #home {
    margin-top: 3rem;
  }

  #home .left h2 {
    font-size: 3rem;
  }

  #home .left {
    padding-left: 3rem;
    padding-top: 5rem;
  }

  #home .left p {
    font-size: 1rem;
  }

  #home .left button {
    margin-top: 2rem;
  }

  /* -------------- */
  #about .about-right h3 {
    margin: 1rem 0;
  }

  #about .about-right button {
    margin-top: 2rem;
  }
  /* ---------------- */
  #menu .box {
    grid-template-columns: repeat(3, 1fr);
  }

  /* --------------- */
  /* #review .box {
    gap: 1rem;
    padding: 0rem 1rem;
} */

  #review .box .review-box {
    width: 15rem;
  }

  #review .box .review-box .image img {
    width: 10rem;
  }

  #review .box .review-box .context p {
    font-size: 0.9rem;
  }

  #order .container .left img {
    width: 100%;
  }

  #team .team-box {
    padding: 2rem 2rem;
    margin-top: 3rem;
  }

  #footer {
    padding: 1rem 1rem;
  }

  #footer .box {
    margin-inline: 2rem;
  }

  #footer .box .content h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 880px) {
  header {
    padding: 0.4rem 2rem;
  }

  #home .left p {
    font-size: 0.9rem;
  }
  /* ---------- */

  #about .about-right p {
    font-size: 0.9rem;
  }

  .cart-iteams {

    width: 25rem;
  
  }
}

@media (max-width: 780px) {
  header .nav {
    display: none;
  }
 
  header .nav {
    width: 15rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0rem;
    top: 0rem;
    gap: 2rem;
    padding: 5rem 0 0 2rem;
    background-color: #ffffff;
    transform: translateX(15rem);
    transition: 0.3s;
  }

  header .nav .wrong i{
    position: absolute;
    top: 2rem;
    font-size: 1.5rem;
    display: initial;
  }
  header .nav .wrong i:hover{
    color: var(--main-color);
  }


  header .icon i.fa-bars {
    display: initial;
  }

  header .icon .number{
   
    right: 2.5rem;

    }
    

  #home .left h2 {
    font-size: 2.5rem;
  }

  #about .about-right h2 {
    font-size: 3.5rem;
  }

  #menu h2 {
    font-size: 3.5rem;
  }

  #menu .box {
    grid-template-columns: repeat(2, 1fr);
  }

  #gallary h2 {
    font-size: 3.5rem;
  }

  #review h2 {
    font-size: 3.5rem;
  }

  #team h2 {
    font-size: 3.5rem;
  }

  #team .team-box {
    padding: 2rem 2rem;
  }

  
#team .team-box .container {
    margin-bottom: 6rem;
  }

  #team .team-box .container img {
    width: 15rem;
    transform: translateY(-6rem);
    border-radius: 0.5rem;
  }
  
#team .team-box .container {
    width: 18rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
  }
  
  #team .team-box .container .intro {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    transition: 0.5s;
    transform: translateY(-3rem);
    opacity: 0;
  }
  
  #team .team-box .container .intro h3 {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  
  #team .team-box .container .intro {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    transition: 0.5s;
    transform: translateY(0rem);
    opacity: 1;
  }
  
  #team .team-box .container .intro .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.6rem;
  }
  #review .box .review-box {
    margin-top: 3rem;
}
  #review .box .review-box .image img {
    transform: translateY(-3rem);
  }
  
  #review .box .review-box .image h3 {
    transform: translateY(-3rem);
  }
  
  #review .box .review-box .image .star {
    transform: translateY(-3rem);
  }
  
  #review .box .review-box .image .star i {
    font-size: 1.2rem;
  }
  
  #review .box .review-box .image .follow {
    opacity: 1;
    transform: translateY(-2rem);
  }
}

@media (max-width: 670px) {
  #home .left {
    padding-left: 1rem;
    padding-top: 3rem;
  }

  #home .left h2 {
    font-size: 2.2rem;
  }

  #home .left p {
    font-size: 0.8rem;
  }

  #about .about-right h2 {
    font-size: 3rem;
  }

  #about .about-right h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  #about .about-right p {
    font-size: 0.8rem;
  }

  #gallary .image-box {
    /* margin: 2rem 3rem;
        display: grid;
        gap: 1rem; */
    grid-template-columns: repeat(2, 1fr);
  }

  #menu h2 {
    font-size: 3rem;
  }

  #gallary h2 {
    font-size: 3rem;
  }

  #review h2 {
    font-size: 3rem;
  }

  #review .box {
    padding: 0rem 2rem;
  }

  #team h2 {
    font-size: 3rem;
  }

  #team .team-box .container {
    width: 15rem;
    height: 15rem;
  }
  #team .team-box .container img {
    width: 12rem;
    height: 12rem;
  }

  #team .team-box .container:hover img {
    width: 12rem;
    transform: translateY(-6rem);
    border-radius: 0.5rem;
  }

  #team .team-box .container:hover {
    width: 15rem;
  }

  
}

@media (max-width: 650px) {
  #home {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5rem;
  }

  #home .right {
    width: 100%;
  }

  #home .right img {
    width: 80%;
  }

  #home .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }
  #home .left h2 {
    font-size: 2.2rem;
  }

  /* #home .left p {
     font-size: 1rem;
    } */

  #home .left button {
    font-size: 1rem;
    margin-top: 1.2rem;
  }

  #about {
    display: flex;
    flex-direction: column;
  }
  #about .about-left {
    width: 100%;
    padding-top: 1rem;
  }

  #about .about-left img {
    width: 90%;
  }

  #about .about-right {
    width: 100%;
    padding: 1rem;
  }

  #about .about-right button {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 550px) {
  #menu .box {
    margin-inline: 8rem;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }

  #review .box .review-box {
    width: 12rem;
  }

  .cart-iteams {
    width: 20rem;
  }
  .cart-iteams .main-box {
    padding: 0.3rem 0.5rem;
  }
  .cart-iteams .main-box img {
    width: 3rem;
  }
}

@media (max-width: 500px) {
  #menu .box {
    margin-inline: 5rem;
  }
  #review .box .review-box {
    width: 18rem;
  }
  .cart-iteams {
    width: 18rem;
  }
  .cart-iteams .main-box {
    padding: 0.3rem 0.3rem;
  }
  .cart-iteams .main-box img {
    width: 2.5rem;
  }

}

@media (max-width: 450px) {
  #menu .box {
    margin-inline: 1rem;
  }

  #gallary .image-box {
    grid-template-columns: repeat(1, 1fr);
    margin: 0.6rem;
}

/* .cart-iteams {
    width: 15rem;
  }
  .cart-iteams .main-box {
    padding: 0.2rem 0.2rem;
  }
  .cart-iteams .main-box img {
    width: 2rem;
  }
  .cart-iteams .main-box h3{
    font-size: 1rem;
  } */
}

@media (max-width: 380px) {
  #home .right img {
    width: 100%;
  }
  #about .about-left img {
    width: 100%;
  }

  #menu .box {
    margin-inline: 1rem;
  }
  /* #gallary .image-box {
    margin: rem;
  } */
}

@media (max-width: 330px) {
  header .icon {
    gap: 0.8rem;
  }

  #menu .box {
    margin-inline: 1rem;
  }
}

@media (max-width: 300px) {

    header .logo img {
        width: 5rem;
    }

    header .icon {
        gap: 0.5rem;
      }

      #menu .box {
        margin-inline: 0rem;
      }

      /* #gallary .image-box {
        grid-template-columns: repeat(1, 1fr);
    } */

    #review .box {
        padding: 0rem 1rem;
    }
}
