@media (max-width: 1050px) {
  header {
    padding: 0.4rem 5rem;
  }

  #home {
    margin-top: 3rem;
  }

  #home .left h2 {
    font-size: 3rem;
  }

  #home .left {
    padding-left: 3rem;
    padding-top: 5rem;
  }

  #home .left p {
    font-size: 1rem;
  }

  #home .left button {
    margin-top: 2rem;
  }

  /* -------------- */
  #about .about-right h3 {
    margin: 1rem 0;
  }

  #about .about-right button {
    margin-top: 2rem;
  }
  /* ---------------- */
  #menu .box {
    grid-template-columns: repeat(3, 1fr);
  }

  /* --------------- */
  /* #review .box {
    gap: 1rem;
    padding: 0rem 1rem;
} */

#review .box .review-box {
  
    width: 15rem;
}

#review .box .review-box .image img {
    width: 10rem;
}

#review .box .review-box .context p {
    font-size: 0.9rem;
}

#order .container .left img {
    width: 100%;
}

#team .team-box {
   
    padding: 2rem 2rem;
    margin-top: 3rem;
}

#footer {
    padding: 1rem 1rem;
}


#footer .box {
    margin-inline: 2rem;
  }

  #footer .box .content h2 {
    font-size: 1.5rem;
}



}

@media (max-width: 880px) {
  header {
    padding: 0.4rem 2rem;
  }

  #home .left p {
    font-size: 0.9rem;
  }
  /* ---------- */

  #about .about-right p {
    font-size: 0.9rem;
}
}

@media (max-width: 780px){
    header .nav {
        display: none;
        
    }
    header .nav {
        width: 15rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 0rem;
        gap: 2rem;
        padding: 4rem 0 0 2rem ;
        background-color:#ffffff ;
    
        transform: translateX(15rem);
      }

      header .icon i.fa-bars{
        display: initial;
      }
      
    #home .left h2 {
        font-size: 2.5rem;
    }
    
    #about .about-right h2 {
        font-size: 3;
    
    }

    #menu h2 {
        font-size: 3.5rem;
    }

    #menu .box {
        grid-template-columns: repeat(2, 1fr);
    }

    #gallary h2 {
        font-size: 3.5rem;
    }

    #review h2 {
        font-size: 3.5rem;
     
    }

    #team h2 {

        font-size: 3.5;
    }

    #team .team-box {
        padding: 2rem 2rem;
    }
}

@media (max-width: 670px){
    #home .left {
        padding-left: 1rem;
        padding-top: 3rem;
    }

    #home .left h2 {
        font-size: 2rem;
    }
}