* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #fac031;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 9rem;
  box-shadow: 0 0.1px 4px 0.5px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

header .logo img {
  width: 6rem;
}

header .nav {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  text-transform: capitalize;
}

header .nav li a {
  color: #000;
  transition: 0.3s;
}

header .nav li a:hover {
  color: var(--main-color);
}

header .icon {
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}

header .icon i{
    transition: 0.3s;
}

header .icon i:hover{
    cursor: pointer;
    color: var(--main-color);
}
